@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

.body {
  text-align: center;
}

strong {
  color: white !important;
}

#basic-nav-dropdown {
  color: white;
}
.HomeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
}
.HomeText {
  color: white;
  background-color: #115fb3;
  margin-bottom: 1.5em;
  border-radius: 15px;
  padding: 10px;
  border: 1px solid #0c0c0c;
  box-shadow: black 2px 2px 10px 10px;
}

.myButton {
  background-color: #115fb3;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: black 2px 2px 10px 10px;
}

.myButton:hover {
  background-color: #0d479c;
}
.HomeText2 {
  color: white;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.HomeSubtext {
  font-size: 2rem;
  text-align: center;
  color: white;
}

@media screen and (min-width: 768px) {
  .HomeText2 {
    font-size: 5rem;
  }

  .HomeSubtext {
    font-size: 3rem;
  }
}

.MyLink {
  text-decoration: none !important;
  margin: 0 15px !important;
}

.MyContainer {
  height: 100%;
  min-height: 55em;
  width: 100%;
  background-image: url(./image/3d-illustration-black-abstract-art-style-design-website-backgrounds-advertising_258743-185.avif);
  background-repeat: no-repeat;
  background-size: cover;
}

.DashboardContainer {
  height: 100%;
  min-height: 55em;
  width: 100%;
  background-color: gray;
  color: black !important;
}

.DashboardContainer strong {
  color: black !important;
}

.myButton {
  background-color: green;
}
.myButton:hover {
  transform: scale(1.2);
}

.myCarousel {
  height: 35em !important;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
  color: #fff;
}

.myRegister {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
}

section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

a,
a:visited {
  color: #fff;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

/* Prenotazioni css */
.prenotazioniColor {
  color: white;
}

.secondSection {
  background-color: #f8f9fa;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(25px);
  padding: 2em;
  margin-top: 3em;
  border-radius: 10px;
  text-align: justify;
  font-size: 18px;
  line-height: 1.5;
}

.MyLink2 {
  color: blue !important;
}

.MyAttivita {
  color: white !important ;
  padding-top: 5em !important;
}

/* cards del componente results  */
.myCards {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 30rem;
  width: 20rem;
  background: linear-gradient(
    90deg,
    rgba(88, 3, 3, 0.856) 10%,
    rgba(202, 112, 9, 0.829) 100%
  ) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(25px);
  border: solid 3px #0c0c0c;

  transition: all 0.3s ease-in-out;
}
.myCards:hover {
  transform: translateY(-5px);
  box-shadow: black 5px 5px 10px 5px;
  text-decoration: none !important;
}

.card-footer {
  background-color: transparent;
  border-top: none;
  text-align: center;
}

.AddEvento {
  width: 200px !important;
}

.page-footer {
  background-color: #000;
  color: white;
}

.notification-badge {
  position: absolute;
  top: 40px;
  right: 75px;
  background-color: red;
  color: white;
  font-size: 12px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-text {
  position: absolute;
  color: red;
  right: 75px;
  top: 80px;
  transition: opacity 0.3s ease-in-out;
}
