@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< GENERICO >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.body {
  text-align: center;
}
.HomeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
}
.MyContainer {
  height: 100%;
  min-height: 55em;
  width: 100%;
  background-image: url(./image/1903_SportsDayImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.HomeText {
  background: linear-gradient(rgb(4, 58, 20), black);
  margin-bottom: 1.5em;
  border-radius: 15px;
  padding: 10px;
  border: 1px solid #0c0c0c;
  box-shadow: #9bd339 2px 1px 5px 3px;
  color: #9bd339;
}
.HomeText2 {
  color: white;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}
.HomeSubtext {
  font-size: 2rem;
  text-align: center;
  color: white;
}
.myButton {
  background-color: rgb(4, 58, 20);
  color: #9bd339;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: #9bd339 0px 0px 2px 5px;
  font-weight: bold;
}
.myButton:hover {
  background-color: #9bd339;
  color: rgb(4, 58, 20);
  box-shadow: rgb(4, 58, 20) 0px 0px 4px 5px;
  transform: scale(1.03);
  font-weight: bold;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Nunito", sans-serif;
  color: #fff;
}
.bi-x-circle {
  font-size: 25px;
  color: #9bd339;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< GENERICO >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< HOME >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.myCarousel {
  height: 25rem;
  width: 100%;
}
.homeCard {
  background: linear-gradient(rgb(4, 58, 20), black);
  color: #9bd339;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 0px 0px, 0px 0px 0px 0px, 0px 0px 0px 0px,
    #9bd339 5px -5px 5px;
}
@media (max-width: 575px) {
  .carosello-col {
    display: none;
  }
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< HOME >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< NAVBAR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (max-width: 575px) {
  .myCollapse {
    background: linear-gradient(rgb(4, 58, 20), black) !important;
    position: absolute !important;
    top: 100% !important;
    right: 0 !important;
  }
  .myNav {
    display: flex !important;
    justify-content: end !important;
  }
}
.bi-bell {
  font-size: larger;
  color: #9bd339;
}
.myNav {
  background: linear-gradient(rgb(4, 58, 20), black);
  height: 4rem;
  z-index: 2;
  display: flex;
  align-items: center;
  color: #9bd339 !important;
}
.navText {
  color: #9bd339 !important;
  text-decoration: none;
}
.myImage {
  height: 80px;
  border-radius: 50%;
  z-index: 30 !important;
  margin-left: 2em;
  position: fixed;
}
.dropdown-menu {
  background: linear-gradient(rgb(4, 58, 20), black);
  border: 1px solid #9bd339;
}
.notification-badge {
  position: absolute;
  top: 13px;
  right: 225px;
  background-color: #9bd339;
  color: white;
  font-size: 12px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#basic-nav-dropdown {
  color: white;
}
.MyLink {
  text-decoration: none !important;
  margin: 0 15px !important;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: rgb(4, 58, 20) !important;
  color: #9bd339;
  text-decoration: none;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< NAVBAR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< DASHBOARD >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.DashboardContainer {
  height: 100%;
  min-height: 55em;
  width: 100%;
  background-color: rgb(233, 227, 227);
  color: black !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.DashboardContainer strong {
  color: black !important;
}
.AddEvento {
  width: 200px !important;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< DASHBOARD >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< MODAL >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.ModalButton {
  background-color: transparent;
  color: black;
  border: 1px solid black;
}
.ModalButton:hover {
  opacity: 0.8;
  transform: scale(1.2);
  background-color: transparent;
  border: 1px solid black;
  color: black;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}
.dataForm {
  color: black !important;
  background-color: white !important;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< MODAL >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< REGISTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.myRegister {
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  border: 3px solid black;
  background: linear-gradient(rgb(4, 58, 20), black);
  color: #9bd339;
  border-radius: 0.5rem;
}
a,
a:visited {
  color: #9bd339;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: #9bd339;
  background-color: rgb(4, 58, 20);
}
button {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  background-color: #9bd339;
}
button:hover {
  border: 2px solid rgb(4, 58, 20);
  transform: scale(1.02);
}
label,
button {
  margin-top: 1rem;
}
button {
  padding: 0.5rem;
}
.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #9bd339;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}
.instructions > svg {
  margin-right: 0.25rem;
}
.offscreen {
  position: absolute;
  left: -9999px;
}
.hide {
  display: none;
}
.valid {
  color: limegreen;
  margin-left: 0.25rem;
}
.invalid {
  color: red;
  margin-left: 0.25rem;
}
.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.line {
  display: inline-block;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< REGISTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< PRENOTAZIONI >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.secondSection {
  background-color: #f8f9fa;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(25px);
  padding: 2em;
  margin-top: 3em;
  border-radius: 10px;
  text-align: justify;
  font-size: 18px;
  line-height: 1.5;
}
.MyLink2 {
  color: blue !important;
}
.MyAttivita {
  color: white !important ;
  padding-top: 5em !important;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< PRENOTAZIONI >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< CARDS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.card-footer {
  background-color: transparent;
  border-top: none;
  text-align: center;
}
.transparent-card {
  background: linear-gradient(rgb(4, 58, 20), black);
  color: #9bd339;
  transition: all 0.3s ease-in-out;
}
.transparent-card:hover {
  transform: translateY(-5px);
  text-decoration: none !important;
  box-shadow: #9bd339 0px 0px 5px 5px;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< CARDS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.page-footer {
  background: linear-gradient(black, rgb(3, 32, 12));
  color: #9bd339;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< PAGINATION >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.pagination {
  --bs-pagination-color: #9bd339;
  --bs-pagination-bg: linear-gradient(rgb(4, 58, 20), black);
  --bs-pagination-disabled-bg: transparent;
  --bs-pagination-border-color: rgb(4, 58, 20);
  --bs-pagination-active-color: white;
  --bs-pagination-active-bg: rgb(4, 58, 20);
  --bs-pagination-active-border-color: rgb(4, 58, 20);
  --bs-pagination-disabled-border-color: rgb(4, 58, 20);
  --bs-pagination-hover-color: none;
  --bs-pagination-hover-bg: none;
  --bs-pagination-hover-border-color: #9bd339;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< PAGINATION >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
